html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.app {
    align-items: center;
    
}

.appHeader {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form div {
    margin: 30px 0;
    
}

input {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

button:hover {
    background-color: #21a1f1;
}